$white:                     #fff;
$black:                     #212121;
$black-dark:                #000;
$gray-light:                #e1e1e1;
$gray-lighten:              #e8e8e8;
$gray:                      #6a6a6a;
$blue:                      #0077b5;
$primary-color:             $black;
$secondary-color:           $white;


$font-size-base:            14px;


$montserrat:               'Montserrat', sans-serif;
$cormorant:                'Cormorant', serif;
$font-family-base:          $cormorant;


$light:                     300;
$regular:                   400;
$medium:                    500;
$bold:                      700;
$font-weight-base:          $regular;


$border-radius-base:        10px;


$screen-sm:                 480px;
$screen-md:                 768px;
$screen-lg:                 992px;
$screen-xl:                 1200px;

// ==================================================

// --- body ---
$body-color:                $primary-color;
$body-font-family:          $font-family-base;
$body-font-size:            $font-size-base;
$body-font-weight:          $font-weight-base;

//--- logo ---
$logo-font-family:          $montserrat;

// --- intro ---
$intro-bg:                  $gray-light;
$intro-border:              $gray-lighten;

// --- button ---
$button-border:             $primary-color;
$button-bg:                 $primary-color;
$button-color:              $primary-color;

// --- progress ---
$progress-bg:               $gray-light;
$progress-value:            $primary-color;
$progress-border-radius:    $border-radius-base;

// --- statistics ---
$statistics-bg:             $black-dark;
$statistics-color:          $secondary-color;

// --- contacts ---
$contacts-color:            $black-dark;

// --- footer ---
$footer-bg:                 $primary-color;
$footer-color:              $secondary-color;

// --- burger ---
$burger-color:              $primary-color;
$burger-focus:              $blue;