.burger {
    height: rem(24px);
    width: rem(30px);
    padding: 0;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;

    @media (min-width: $screen-md) {
        display: none;
    }

    &:focus {
        outline: 1px solid $burger-focus;
    }

    &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $burger-color;

            transition: transform 0.3s linear;
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }

    &__item {
        display: block;
        position: relative;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: $burger-color;
        opacity: 1;
        transition: left 0.3s linear, opacity 0.3s linear;
    }

    &.active {
        &:before {
            top: 10px;
            transform: rotate(135deg);
        }

        &:after {
            bottom: 10px;
            transform: rotate(-135deg);
        }

        .burger__item {
            left: -100px;
            opacity: 0;
        }
    }
}