{% set title = "My portfolio" %}
{% extends "layouts/main.html" %}

{% block content %}
<main class="main">

    <!-- intro -->
    <section class="intro">
        <div class="intro__pictures">
            <div class="intro__inner">
                <img class="intro__photo" src="./img/intro/photo.png" alt="photo">
            </div>
        </div>

        <div class="intro__content">
            <div class="container">

                <div id="typed-strings">
                    <h1>Nikita Golovchenko</h1>
                </div>
                <p class="intro__title"><span id="typed"></span></p>

                <p class="intro__text">Front-end Developer</p>

                <button class="button intro__button" type="button">Hire me</button>
                <a class="button button--white">Explore more</a>
            </div>
        </div>

        <button class="scroll-down icon-arrow-down" id="scroll-down"></button>
    </section>

    <!-- about -->
    <section class="about">
        <div class="container">
            <h2 class="subtitle wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.3s">About</h2>
            <p class="about__text">Hello! I'm <span>Nikita</span>, a full stuck developer, a Ruby enthusiast, and a guy slighty obsessed for code quality. Also I'm a co-founder of pykod.com. I’m currently available for freelance work. If you have a project that you want to get started or think you need my help with something, then get in touch.</p>

            <button class="button" type="button">download my cv</button>
        </div>
    </section>

    <!-- skills -->
    <section class="skills">
        <div class="container">
            <h2 class="subtitle wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.3s">My skills</h2>
            <div class="skills__inner">

                <div class="progress skills__progress">
                    <h4 class="progress__name">html/css</h4>
                    <div class="progress__box">
                        <div class="progress__value" data-progress="80">80 %</div>
                    </div>
                </div>

                <div class="progress skills__progress">
                    <h4 class="progress__name">JavaScript/jQuery</h4>
                    <div class="progress__box">
                        <div class="progress__value" data-progress="80">80 %</div>
                    </div>
                </div>

                <div class="progress skills__progress">
                    <h4 class="progress__name">Sass/scss</h4>
                    <div class="progress__box">
                        <div class="progress__value" data-progress="80">80 %</div>
                    </div>
                </div>
                
                <div class="progress skills__progress">
                    <h4 class="progress__name">Bootstrap</h4>
                    <div class="progress__box">
                        <div class="progress__value" data-progress="80">80 %</div>
                    </div>
                </div>

                <div class="progress skills__progress">
                    <h4 class="progress__name">Git</h4>
                    <div class="progress__box">
                        <div class="progress__value" data-progress="80">80 %</div>
                    </div>
                </div>

                <div class="progress skills__progress">
                    <h4 class="progress__name">Gulp/webpack</h4>
                    <div class="progress__box">
                        <div class="progress__value" data-progress="80">80 %</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- services -->
    <section class="services">
        <div class="services__bg"></div>
        <div class="services__wrap">
            <div class="container">
                <div class="services__content">
                    <h2 class="subtitle wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.3s">what i do</h2>
                    <div class="services__inner">
                        <div class="services__item">
                            <span class="services__icon icon-monitor"></span>
                            <h4 class="services__title">Front-end</h4>
                            <p class="services__text">As a javascript developer, I have experience in HTML5 and CSS3 techniques working with jQuery or more advanced javascript MVC frameworks such as angular</p>
                        </div>

                        <div class="services__item">
                            <span class="services__icon icon-web"></span>
                            <h4 class="services__title">Back-end</h4>
                            <p class="services__text">As a javascript developer, I have experience in HTML5 and CSS3 techniques working with jQuery or more advanced javascript MVC frameworks such as angular</p>
                        </div>

                        <div class="services__item">
                            <span class="services__icon icon-code"></span>
                            <h4 class="services__title">Consultancy</h4>
                            <p class="services__text">As a javascript developer, I have experience in HTML5 and CSS3 techniques working with jQuery or more advanced javascript MVC frameworks such as angular</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- works -->
    <section class="works">
        <div class="container">
            <h2 class="subtitle wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.3s">My recent works</h2>
            <div class="works__wrap">

                <div class="works__inner">
                    <div class="works__item">
                        <img class="works__img" src="./img/works/works-1.jpg" alt="works">
                        <div class="works__holder">
                            <div class="works__content">
                                <h3 class="works__title">Project Title</h3>
                                <div class="works__links">
                                    <a href="#" class="icon-view works__link" target="_blank" title="website"></a>
                                    <a href="#" class="icon-link works__link" target="_blank" title="source code"></a>
                                    <a href="#" class="icon-share works__link" target="_blank" title="share"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="works__inner">
                    <div class="works__item">
                        <img class="works__img" src="./img/works/works-2.jpg" alt="works">
                        <div class="works__holder">
                            <div class="works__content">
                                <h3 class="works__title">Project Title</h3>
                                <div class="works__links">
                                    <a href="#" class="icon-view works__link" target="_blank" title="website"></a>
                                    <a href="#" class="icon-link works__link" target="_blank" title="source code"></a>
                                    <a href="#" class="icon-share works__link" target="_blank" title="share"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="works__inner">
                    <div class="works__item">
                        <img class="works__img" src="./img/works/works-3.jpg" alt="works">
                        <div class="works__holder">
                            <div class="works__content">
                                <h3 class="works__title">Project Title</h3>
                                <div class="works__links">
                                    <a href="#" class="icon-view works__link" target="_blank" title="website"></a>
                                    <a href="#" class="icon-link works__link" target="_blank" title="source code"></a>
                                    <a href="#" class="icon-share works__link" target="_blank" title="share"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="works__inner">
                    <div class="works__item">
                        <img class="works__img" src="./img/works/works-4.jpg" alt="works">
                        <div class="works__holder">
                            <div class="works__content">
                                <h3 class="works__title">Project Title</h3>
                                <div class="works__links">
                                    <a href="#" class="icon-view works__link" target="_blank" title="website"></a>
                                    <a href="#" class="icon-link works__link" target="_blank" title="source code"></a>
                                    <a href="#" class="icon-share works__link" target="_blank" title="share"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="works__inner">
                    <div class="works__item">
                        <img class="works__img" src="./img/works/works-5.jpg" alt="works">
                        <div class="works__holder">
                            <div class="works__content">
                                <h3 class="works__title">Project Title</h3>
                                <div class="works__links">
                                    <a href="#" class="icon-view works__link" target="_blank" title="website"></a>
                                    <a href="#" class="icon-link works__link" target="_blank" title="source code"></a>
                                    <a href="#" class="icon-share works__link" target="_blank" title="share"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="works__inner">
                    <div class="works__item">
                        <img class="works__img" src="./img/works/works-6.jpg" alt="works">
                        <div class="works__holder">
                            <div class="works__content">
                                <h3 class="works__title">Project Title</h3>
                                <div class="works__links">
                                    <a href="#" class="icon-view works__link" target="_blank" title="website"></a>
                                    <a href="#" class="icon-link works__link" target="_blank" title="source code"></a>
                                    <a href="#" class="icon-share works__link" target="_blank" title="share"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button class="works__btn button button--white" type="button">Load More</button>
        </div>
    </section>

    <!-- statistics -->
    <div class="statistics">
        <div class="container">
            <div class="statistics__inner">

                <div class="statistics__item">
                    <h4 class="statistics__number">10</h4>
                    <div class="statistics__description">
                        <p>Years Expirience</p>
                    </div>
                </div>

                <div class="statistics__item">
                    <h4 class="statistics__number">120</h4>
                    <div class="statistics__description">
                        <p>Projects Delivered</p>
                    </div>
                </div>

                <div class="statistics__item">
                    <h4 class="statistics__number">10</h4>
                    <div class="statistics__description">
                        <p>Seconds on this site!</p>
                        <p>What are you waiting for?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- contacts -->
    <section class="contacts">
        <div class="container">
            <h2 class="subtitle wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.3s">Contact</h2>

            <form action="#" method="POST" class="contacts__form">
                <input type="text" name="name" class="contacts__name" placeholder="Name" required>
                <input type="email" name="email" class="contacts__email" placeholder="E-mail" required>
                <textarea name="message" class="contacts__message" placeholder="Message"></textarea>

                <button type="submit" class="button button--white contacts__btn">Hire me
                    <span class="icon-plane"></span>
                </button>
            </form>
        </div>
    </section>

</main>
{% endblock %}
