<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="socials">
                <a href="#" class="socials__item icon-facebook" target="_blank" title="facebook"></a>
                <a href="#" class="socials__item icon-twitter" target="_blank" title="twitter"></a>
                <a href="#" class="socials__item icon-linkedin" target="_blank" title="linkedin"></a>
                <a href="#" class="socials__item icon-google" target="_blank" title="google+"></a>
            </div>
    
            <p class="footer__text">2019. All Rights Reserved</p>

            <button type="button" class="scroll-top icon-arrow-up" id="scroll-top"></button>
        </div>
    </div>
</footer>
