.contacts {
    margin-bottom: rem(60px);

    @media (min-width: $screen-md) {
        margin-bottom: rem(90px);
    }
    
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        color: $contacts-color;

        @media (min-width: $screen-md) {
            flex-direction: row;
        }
    }

    &__name,
    &__email {
        margin-bottom: rem(20px);
        max-width: 100%;
        width: 100%;
        @extend %form-item;

        @media (min-width: $screen-md) {
            margin-bottom: rem(45px);
            max-width: 48%;
        }
    }

    &__message {
        resize: none;
        margin-bottom: rem(30px);
        min-height: rem(180px);
        @extend %form-item;

        @media (min-width: $screen-md) {
            margin-bottom: rem(40px);
        }
    }

    &__btn {
        margin: 0 auto;
        display: flex;

        span {
            margin-left: rem(5px);
        }
    }
}