.contacts {
    margin-bottom: rem(90px);
    
    &__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: $contacts-color;
    }

    &__name,
    &__email {
        margin-bottom: rem(45px);
        max-width: 48%;
        width: 100%;
        @extend %form-item;
    }

    &__message {
        resize: none;
        margin-bottom: rem(40px);
        min-height: rem(180px);
        @extend %form-item;
    }

    &__btn {
        margin: 0 auto;
        display: flex;

        span {
            margin-left: rem(5px);
        }
    }
}