.intro {
    height: 100vh;
    position: relative;
    z-index: 10;

    text-align: center;

    @media (min-width: $screen-md) {
        text-align: start;
    }

    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 65%;
        left: 0;
        transform: translateY(-65%);
        max-width: rem(320px);
        width: 100%;
        min-height: rem(490px);
        border: rem(17px) solid $intro-border;
        border-left: none;
    }
    
    &__pictures {
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: auto;
        background-color: $intro-bg;

        @media (min-width: $screen-md) {
            width: 45%;
        }

        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            top: 65%;
            right: 0;
            transform: translateY(-65%);
            max-width: rem(220px);
            width: 100%;
            min-height: rem(375px);
            border: rem(13px) solid $white;
            border-right: none;
        }
    }

    &__inner {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        height: 100%;
        z-index: 5;
        padding: 0 rem(15px);
        width: 100%;

        @media (min-width: $screen-md) {
            left: 0;
            transform: translateX(0);
        }

    }

    &__photo {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-height: 85vh;
        width: auto;

        @media (min-width: $screen-md) {
            // max-height: rem(600px);
            left: 0;
            transform: translateX(0);
            width: auto;
        }
    }

    &__content {
        @include center(false, true);
        left: 0;
        z-index: 10;
        width: 100%;
    }

    &__title {
        font-size: rem(38px);
        font-weight: $bold;
        text-transform: uppercase;

        @media (min-width: $screen-sm) {
            font-size: rem(46px);
        }
    }

    &__text {
        font-size: rem(22px);
        margin-bottom: rem(30px);
    }

    &__button {
        margin-bottom: rem(10px);

        @media (min-width: $screen-md) {
            margin-bottom: 0;
            margin-right: rem(20px);
        }
    }

    &__scroll-down {
        position: absolute;
        z-index: 10;
        left: 50%;
        bottom: rem(10px);
        transform: translateX(-50%);
        width: rem(56px);
        height: rem(56px);
        overflow: hidden;
        border: 1px solid $primary-color;
        border-radius: 50%;
        background-color: rgba($secondary-color, 0.8);
        padding: 0;
        padding: rem(10px);
        font-size: rem(30px); 
        cursor: pointer;
        transition: background-color 0.3s linear, color 0.3s linear;

        @media (min-width: $screen-md) {
            bottom: rem(25px);
            background-color: transparent;
        }

        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
        }

        &:before {
            @include center(true, true);
            top: 20%;
            animation: down 1.2s infinite ;

            @keyframes down {
                100% {
                    top: 80%;
                    opacity: 0;
                }
            }
        }
    }
}