.works {
    margin-bottom: rem(100px);

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 rem(-15px) rem(15px);
    }

    &__inner {
        width: 33.33333%;
        height: rem(280px);
        padding: 0 rem(15px) rem(15px);
        
    }
    
    &__item {
        position: relative;
        height: 100%;
        overflow: hidden;

        &:hover {
            .works__holder {
                opacity: 1;
            }

            .works__img {
                transform: scale(1.1);
            }
        }
    }

    &__img {
        height: 100%;
        width: auto;
        transition: transform 0.3s linear;
    }

    &__holder {
        height: 100%;
        opacity: 0;
        transition: opacity .3s linear;

        &:before {
            content: "";
            @include center(false, true);
            z-index: 5;
            left: 0;
            max-width: rem(155px);
            width: 100%;
            min-height: rem(192px);
            border: rem(8px) solid rgba($secondary-color, 0.3);
            border-left: none;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba($primary-color, 0.7);
        }
    }

    &__content {
        @include center(false, true);
        z-index: 10;
        width: 100%;
        color: $secondary-color;
        text-align: center; 
    }
    
    &__title {
        font-size: rem(30px);
        font-weight: $bold;
        margin-bottom: rem(12px);
    }

    &__link {
        width: rem(30px);
        height: rem(30px);
        border: 2px solid $secondary-color;
        border-radius: 50%;
        padding: rem(7px);
        margin: 0 rem(2px) rem(5px);
        transition: color 0.3s linear, background-color 0.3s linear;

        &:hover {
            background-color: $secondary-color;
            color: $primary-color
        }

        span {
            display: block;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
    }
}